---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Meditations",
		desc: "Philosophy on life's trials and inner peace.",
		href: "https://classics.mit.edu/Antoninus/meditations.html",
	},
	{
		title: "The Space Economy",
		desc: "Future of commercial space flight.",
		href: "https://www.spacecapital.com/space-economy-book",
	},
	{
		title: "Best Day Hikes in Spain",
		desc: "Mysterious adventures in the Spanish wilderness.",
		href: "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwib3tjDhL-CAxW-ElkFHZ7MDjYQFnoECBcQAw&url=https%3A%2F%2Fwww.amazon.com%2FLonely-Planet-Best-Hikes-Spain%2Fdp%2F1838691243%23%3A~%3Atext%3DLonely%2520Planet%27s%2520Best%2520Day%2520Hikes%2Ccoast%252C%2520and%2520marvel%2520at%2520Mallorca.&usg=AOvVaw1zF09sZtduiI307DjU3rI8&opi=89978449",
	},
	{
		title: "Accidentally: Wes Anderson",
		desc: "A collection of memories & stories about Earth.",
		href: "https://accidentallywesanderson.com/book/",
	},

];

const cactusTechh: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Modern Recommendation Model and Systems (MRS)",
		desc: "- Using state-of-the-art (SoTA) techniques in graph analysis, transfer learning, reinforcement learning, and language model (LLM) prompting for recommendation at a large scale (Meta/Instagram).",
		href: "",
	},
	{
		title: "Polygenic Cancer Risk Scores",
		desc: "- Estimating polygenic risk scores through Bayesian inference with Markov Chain Monte Carlo (MCMC) methods to sample from posterior distributions and historical european ancestry data.",
		href: "",
	},
	{
		title: "Fahrenheit Black Algorithm (Options Trading) HFT",
		desc: "- Execute two HFT option trades at once from multiple sources.",
		href: "",
	},
	{
		title: "MEV Bot Arbitrage",
		desc: "- Exploiting price discrepancies across several (DEXs)/liquidity pools for strategic transaction reordering.",
		href: "",
	},

];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6"></h1>
		<p class="mb-4">
    Founder of Creative Agent, the No-Code Everything App. <br>
    <br>
    mike@creativeagent.us <br>
    <br>
    <SocialList />
    <br>
    <h2 class="title text-xl">Highlights:</h2> 
        - Quantitative Researcher on Moody's EDFX Platform. <br>
        - Built No-Code Platform (Creative Agent) with 50k+ users. <br>
        - Apart of NIH PRIMED $38M Biotech lab focused on Polygenic Risk Scores.<br>
        - Past DeFi dev on L2 chain and Solo MEV searcher. <br>
        - Created Proforma Climate model for 440+M companies with 32M Climate Risk Scenarios. <br>
    <br>
    <h2 class="title text-xl">Previous Work:</h2>    
        - quant research at Moody's Analytics, lead dev for NIH PRIMED, dev for NASA Harvest, biotech research for USC.<br>
    <br>
    Etc. <br>
    Proudly from Los Angeles, California. <br>
</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">My Research + Professional work:</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTechh.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
    <br>
    <h2 class="title mb-4 text-xl">Book List:</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
 </section>
</PageLayout>
